@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;700&display=swap');

*{
    transition: 0.5s;    
}

body{
    background-color: #e7eee0;
    background-image: url('https://res.cloudinary.com/dh39ahmpj/image/upload/v1697482450/vida-sustentavel/lightBackground_mvm5f5.png');
    background-size: cover;        
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.DarkBody{
    background-color: #232323;
    background-image: url('https://res.cloudinary.com/dh39ahmpj/image/upload/v1697482451/vida-sustentavel/nightBackground_rwhikl.png');
    background-size: cover;        
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

.DarkBG{
    background-color: #232323;
}



.Bebas{font-family: 'Bebas Neue', cursive;}
.BigShoulders{font-family: 'Big Shoulders Text', cursive;}
.spacingTitle{letter-spacing: 7.665px;}
.spacingSubtitle{letter-spacing: 1.411px;}
.spacingText{letter-spacing: 0.608px;}

.primaryColor{color: #444444;}
.tertiaryColor{color: #636363;}
.whiteColor{color: #FCFCFC;}
.whiteTertiary{color: #ECECEC;}
.greenPrimary{color: #0EB500;}
.greenSecondary{color: #0A8000;}

.hoverColor{color: none;}
.hoverColor:hover{color: #0EB500; scale: 1.1;}

.darkPopup{
    border-radius: 3.085px;
    background-color: #232323;
    box-shadow: 0px 2.46809px 2.46809px 0px rgba(0, 0, 0, 0.25);
}

.lightPopup{
    border-radius: 3.085px;
    background: #FFF;
    box-shadow: 0px 2.46809px 2.46809px 0px rgba(0, 0, 0, 0.25);
}

.GreenBtn{    
    border-color: transparent;
    border-radius: 0.5rem;
    background: #0A8000;
    box-shadow: 2px 5px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 0.5rem;  
}

.GreenBtn:hover{
    background-color: #0EB500;
}

.imageHome{    
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}

.mobileText{
    position: relative;  
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 3rem;    
    width: 50%;    
}

.mobileText>div>h1{
    font-size: 3.5rem;
    font-weight: 200;
    letter-spacing: 7.665px;    
}

.mobileText>div>h2{
    font-size: 1.8rem;
    font-weight: bold;    
    font-weight: 400;
    letter-spacing: 1.411px;
}

.mobileText>div>a>button{
    width: 100%;
}

.iconSize{
    width: 2.8125rem;
    height: 2.625rem;
}

.DarkIconSize{
    width: 1.5rem;
    height: 1.5rem;
}

.figureHover:hover{
    scale: 1.1;
}

.ContactWidth{
    height: 74.6vh;
}
